.main-header {
  background-color: #3c16c4;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  size: 10%;
}
.sub-header {
  background-color: #8ed4dd;
  size: 100px;
}

h4 {
font-size: 25px;
color: #3c16c4;
padding-left: 30px;
size: 7.5%;

}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

ul {
  list-style-type: none;
}

h1 {
  color: #8ed4dd;
  font-size: 30px;
}

nav li, nav li a {
  color: #8ed4dd;
  display: inline-flex;
  margin: 2px;
  padding: 2px;
  list-style: none;
}
 
.about-me {
  display: flex;
  align-items: center;
  justify-content: center
}
.me-PNG {
  max-width: 100%;
  max-height:100%;
}
h2 {
  font-size: 70px;
  justify-content: center;
  align-items: center;
}
p {

  font-size: 20px;
  padding-left: 20px;
}
.work-container {
  flex-direction: row;
}
.current-work {
  display: flex;
  align-items: center;
  justify-content: center
}
.future-work {
  display: flex;
  align-items: center;
  justify-content: center
}

.current-work-stock {
  max-width: 100%;
  max-height:100%;
}

.future-work-stock {
max-width: 100%;
  max-height:100%;
}
h3 {}